.accountscontainer {
  min-height: 100vh;
  background: linear-gradient(135deg, #131313, #2f2f2f);
}

.accounts {
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.currentaccountscontainer {
  align-items: center;
  max-width: 100vh;
  border: 1px solid #151515;
  border-radius: 10px;
}

.noaccounts {
  text-decoration: none;
  color: #464646;
}