.accountscontainer {
  min-height: 100vh;
  background: linear-gradient(135deg, #131313, #2f2f2f);
}

.accounts {
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

.currentaccountscontainer, .borrowingaccountscontainer {
  float: left;
  padding: 15px;
  width: 600px;
  align-items: center;
  max-width: 80vh;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  box-shadow: 0 0 5px #101010;
}

.noaccounts {
  text-decoration: none;
  color: #464646;
  font-size: x-small;
}

#addaccountbutton {
  border: 1px solid #ffffff;
}

#addaccountbutton:hover {
  box-shadow: 0 0 5px #ffffff;
}

.addaccountform {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 25%;
  height: 60%;

  background: linear-gradient(to bottom, #131313, #2f2f2f);
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  justify-content: flex-start;
  gap: 16px;
  padding: 24px;

  border: 1px solid #ffffff;
  border-radius: 10px;

  animation: formPageEnter 0.4s ease-out forwards;
}

.addaccountform select {
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  font-size: medium;
  text-align: center;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 30px;
  justify-content: center;

}

@keyframes formPageEnter {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.formcontainer input {
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 50px;
  font-size: medium;
  text-align: center;
}

.formcontainer button {
  border: 1px solid #ffffff;
  
}

.formcontainer button:hover {
  box-shadow: 0 0 5px #ffffff;
}

.formbuttons {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.currentaccounts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.accountbox {
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin: 10px;

  display: flex;
  flex-direction: column;
}

#deleteaccount {
  border: 1px solid #a60000;
  color: #a60000;
}

#deleteaccount:hover {
  background-color: rgba(200, 0, 0, 0.1);
  box-shadow: 0 0 10px #a60000;
}
