.budgetscontainer {
    min-height: 100vh;
    background: linear-gradient(0deg, #000000, #3a3a3a);
    display: flex;
    flex-direction: column;
}

.budgets {
  justify-content: left;
  align-items: center;
  padding-left: 40px;
}