.landing-container {
  height: 100vh;
  background: linear-gradient(to bottom, #131313, #2f2f2f);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", sans-serif;

  animation: welcomePageEnter 0.8s ease-out forwards;
}

@keyframes welcomePageEnter {
  from {
    opacity: 0;
    transform: translateY(20px);
  } to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.landing-card {
  text-align: center;
}

.app-title {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.app-subtitle {
  font-size: 1rem;
  color: #9d9d9d;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.primary-btn {
  padding: 0.75rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  color: white;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.primary-btn:hover {
  background-color: #555555;
  color: white;
}

.secondary-btn {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid #ffffff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.secondary-btn:hover {
  background-color: #555555;
  color: white;
}